@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    animation: fadeIn 1s;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.buton {
    color: black;
    background-color: white;
    transition: 0.3s;
    border-color: black;
    border: solid;
    border-radius: 15px;
    padding: 16px 32px;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.spacer {
    margin-top: 10px;
}

.big_spacer {
    margin-top: 100px;
}

.buton:hover {
    color: white;
    background-color: black;
}

.topnav {
  overflow: hidden;
  background-color: #d6d6d6;
  padding: 16px 32px;
  border-radius: 10px;
  border: solid;
  border-color: black;
}

.login-panel {
    padding: 40px 90px;
    border: solid;
    border-color: black;
    border-radius: 15px;
}